# build dir
/build/
.cache
*.db

# link to the built exe, created by build.py
/pomotimer.lnk
/pomotimer

# qt junk
.user/
.pro.user

# cmake files
CMakeLists.txt.user
CMakeCache.txt
compile_commands.json

# mac spec files
.DS_Store

# win spec files
Thumbs.db
Desktop.ini

